<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
</head>
<body>

<div class="container">

    <form role="form" method="post" action="/gauth">
        <br/>
        <a th:href="${url}" class="btn btn-primary" target="_blank">Generate Google Code</a>
        <br/>
        <br/>
        <div class="form-group">
            <label for="code">Google Code:</label>
            <input type="text" name="code" class="form-control" id="code"/>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>
</body>
</html>